extends layout

block content
  h1 Title: #{movie.title}
    p #[strong Director:] #{movie.director}
    p #[strong Release date:] #{movie.release_date}
    p #[strong Summary:] #{movie.summary}

    hr
    p Do you really want to delete this Moive?

    form(method='POST')
      div.form-group
        input#id.form-control(type='hidden',name='id', value=movie._id )

      button.btn.btn-primary(type='submit') Delete